{
  "env": {
    "browser": true,
    "es2021": true
  },
  "globals": {
    "chrome": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": "off"
  }
}
