{
  "env": {
    "browser": true,
    "es2021": true
  },
  "globals": {
    "chrome": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:promise/recommended",
    "standard"
  ],
  "parser": "@babel/eslint-parser",
  "plugins": [
    "react"
  ],
  "rules": {
    "comma-dangle": "off",
    "indent": "off",
    "react/react-in-jsx-scope": "off",
    "semi": "off",
    "space-before-function-paren": "off"
  }
}
