body {
  background-color: #e5e7eb;
}

.popup {
  width: 350px;
  max-width: 350px;
}

blockquote {
  &::before {
    font-family: Georgia, serif;
    color: #9ca3af;
    content: "\201C";
    font-size: 80px;
    left: -10px;
    position: absolute;
    top: -20px;
  }

  cite {
    &::before {
      content: "\2014 \2009";
    }
  }
}
